

body{
	background-color:yellow;
}
h1{
	border-style: solid;
	border-width: 10px;
	background-color: pink;
	padding: 46px;
	text-orientation: center;
	text-underline-position: center;
	color:blue 
}
.side-panel{
	padding: 30px;
	margin :0 auto;
	width:200px;
	background-color: pink;
	color: red;

}


.side-panel #test a{
	color: white;
	text-decoration: none;
	background-color:black;
}

#test{
	color: yellow;
	background: red;
}